@media (min-aspect-ratio: 600/700){
  .comments {
    padding: 10px 20px 10px 10px;
  }

  .single-comment {
    #username-label {
      font-size: 80%;
    }
    ul {
      font-size: 80%;
    }
  }
}

@media (max-aspect-ratio: 600/700){
  .comic-section-label {
    font-size: 450%;
  }

  .comments {
    padding: 10px 30px 5px 60px;
  }

  .no-comments {
    font-size: 300%;
  }
}

.comments {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #BBFFBB;
}

.single-comment {
  padding: 10px 5px 5px 30px;
  margin: 5px 5px 20px 5px;
  background-color: #FFFFFF;
  #username-label {
    margin-left: 40px;
    padding-bottom: 5px;
    font-weight: bold;
  }
  #comment-content {
    margin-left: 80px;
    margin-bottom: 10px;
  }
  ul {
    color: #BBBBBB;
    margin-left: 80px;
    list-style-type: none;
    li {
      display: inline;
    }
  }
}
