<div class="list">
  <h3 class="site-headline">user list</h3>
  <div class="search">

  </div>
  <div class="table">
    <table>
       <tr id="first-line">
         <td>USER ID</td>
         <td>USERNAME</td>
         <td>EMAIL</td>
       </tr>
      <% User.all.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.username %></td>
          <td><%= user.email %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
