<div class="about">
  <h1>Comics by ..</h1>
  Aran Dervin<br />
  Fichtestra&szlige 31 <br />
  10967 Berlin<br />
  <br />
  <h1>Website created by ..</h1>
  Sofie A. Martins<br />
  Rabensteiner Stra&szlige 52<br />
  12689 Berlin<br />
  <br />
  contact: contact@cooroscorner.com<br />
  phone: 01577 05 44 896<br />
</div>
