<% provide(:background, "index") %>
<ul class="index-link-list">
  <a href="/offensive" class="index-link"><li class="index-link-item">
    <div id="offensive-link-item">
    </div>
    Offensively Offensive
  </li></a>
  <a href="/mayuyu" class="index-link"><li class="index-link-item">
    <div id="mayuyu-link-item">
    </div>
    Mayuyu's Anger Management Diaries
  </li></a>
  <a href="/random" class="index-link"><li class="index-link-item">
    <div id="random-link-item">
    </div>
    Random
  </li></a>
  <a href="/tina" class="index-link"><li class="index-link-item">
    <div id="tina-link-item">
    </div>
    Tina And Her Funny Friends
  </li></a>
  <a href="/alice" class="index-link"><li class="index-link-item">
    <div id="alice-link-item">
    </div>
    Alice Adventures In Wonderland
  </li></a>
  <a href="/archive" class="index-link"><li class="index-link-item" >
    <div id="archive-link-item">
    </div>
    Archive
  </li></a>
</ul>
<%= image_tag("logo.png", alt: "Cooro's Corner", id: "index-logo") %>
<a href="/about" id="about-link" class="index-link">About/Impressum</a>

