  <head>
    <title>cooroscorner.com
  </head>
  <body>
    <h1><i>COORO'S CORNER</i></h1>
    <div> content content content </div>
    <hr>
    <table>
      <tr>
        <td>Offensively Offensive</td>
        <td>Tina And Her Funny Friends</td>
        <td>Random</td>
        <td>Comipo</td>
      </tr>
      <tr>
        <td><%= image_tag("kuh.jpg", alt: "Eine Kuh") %></td>
	<td><%= image_tag("kuh.jpg", alt: "Eine Kuh") %></td>
        <td><%= image_tag("kuh.jpg", alt: "Eine Kuh") %></td>
        <td><%= image_tag("kuh.jpg", alt: "Eine Kuh") %></td>
      </tr>
    </table>
  </body>
