  <div class="welcome-img">
    <div class="first-line">
    <%= link_to( image_tag("offensive.png", 
				alt: "Offensively Offensive"), 
				"/offensive" ) %> 
    <%= link_to( image_tag("random.png", 
				alt: "Random"), 
				"/random" ) %>
    <%= link_to( image_tag("mayuyu.png", 
				alt: "Mayuyu's Anger Diaries"), 
				"/mayuyu" ) %>
    </div>  
    <div class="second-line">
    <%= link_to( image_tag("tina-comics.png", 
			alt: "Tina And Her Funny Friends"), 
			"/tina" ) %>
    </div>
  </div>
