<% provide(:background, "index") %>
<ul class="index-link-list">
  <a href="/offensive"><li class="index-link-item" id="offensive-link-item">
    Offensively Offensive
  </li></a>
  <a href="/random"><li class="index-link-item" id="random-link-item">
    Random
  </li></a>
  <a href="/mayuyu"><li class="index-link-item" id="mayuyu-link-item">
    Mayuyu's Anger Management Diaries
  </li></a>
   <a href="/tina"><li class="index-link-item" id="tina-link-item">
    Tina And Her Funny Friends
  </li></a>
  <a href="/alice"><li class="index-link-item" id="alice-link-item">
    Alice Adventures In Wonderland
  </li></a>
  <a href="/archive"><li class="index-link-item" id=archive-link-item>
    Archive
  </li></a>
</ul>
<a href="/about" id="about-link">About/Impressum</a>

