h1.site-headline {
  font-size: 200%;
  padding-bottom: 20px;
}
 
#title {
  padding: 20px 20px 20px 20px;
  text-align: left;
  font-size: 180%;
  font-weight: bold;
  margin-bottom: 20px;
  a:link {
    font-weight: normal;
    font-size: 60%;
    color: #991111;
    text-decoration: none;
  }
}
