$light-green: #55BB55;
$green: #008800;

@media (orientation: landscape){
  .general-information {
    margin-right: 5%;
    text-align: right;
    font-size: 110%;
    color: #000000;
    font-style: italic;
  }
}

@media (orientation: portrait){
  .general-information {
    position: absolute;
    top: 40%;
    left: 10px;
    font-size: 18pt;
  }
}
