$light-green: #55BB55;
$green: #008800;

@media screen and (min-device-width: 800px){
  div.comic{
    margin-top: 30px;
  }

  div.comic-section {
    margin-left: 2%;
    padding: 30px 30px 30px 30px;
  }
}

@media screen and (max-width: 800px){
  div.comic{
    margin-top: 150px;
  }

  div.comic-section {
    margin-left: 0;
    padding: 30px 30px 30px 0;
  }
}

div.comic-section {
  min-width: 70%;
  margin-top: 30px;
  margin-right: 2%;
  margin-bottom: 30px;
  background: $light-green;
  border: 1px solid; 
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.comic-section-label {
  font-weight: bold;
  font-size: 150%;
  margin-bottom: 50px;
}
 
#comic-image {
  margin-top: 20px;
  text-align: center;
}

.comic-image-div {
  img {
    border: 4px solid;
    max-width: 80%;
    height: auto;
  }
}

#title {
  font-family: 'Bubblegum Sans', cursive;
  font-size: 300%;
  padding: 20px 20px 20px 20px;
  text-align: left;
  margin-bottom: 20px;
  a:link {
    font-weight: normal;
    font-size: 60%;
    color: #991111;
    text-decoration: none;
  }
}
