$light-green: #55BB55;
$green: #008800;

@media (min-aspect-ratio: 600/700){
  .comic{
    margin-top: 30px;
  }

  .comic-section {
    margin: 30px 2%;
    width: 90%;
    padding: 30px;
  }

  .comic-image-div {
    img {
      width: 80%;
    }
  }
}

@media (max-aspect-ratio: 600/700){
  .comic-section {
    margin: 10px;
    text-align: center;
    font-size: 350%;
    width: 90%;
    padding-left: 4%;
    padding-right: 4%;
  }

  .comic-image-div {
    img {
      width: 100%;
    }
  }
}

.comic-section {
  background: $light-green;
  border: 1px solid; 
  border-radius: 10px;
}

.comic-image-div {
  img {
    border: 2px solid;
  }
}

#comic-image {
  text-align: center;
}

#title {
  font-family: 'Bubblegum Sans', cursive;
  a:link {
    font-weight: normal;
    font-size: 60%;
    color: #991111;
    text-decoration: none;
  }
}
