.footer {
  width: 100%;
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 0;
  background: #000000; 
  ul {
    list-style-type: none;
    margin-left: 10px;
    li {
      padding-right: 70px;
      display: block;
      float: left;
      font-size: 120%;
      a:link {
        font-weight: bold;
        text-decoration: none;
        color: #CCCCCC;
      }
      a:visited{
        color: #CCCCCC;
      }
      a:hover{
        background-color: #CCCCCC;
        color: #777777;
      }
      a:active{}
    }
  }
}

#with-add {
  padding-right: 20px;
}

#comics-add #categories-add #backgrounds-add {
  color: #000000;
  pointer-events: none;
  cursor: default;
}

li.comics:hover > #comics-add {
  pointer-events: auto;
  cursor: pointer;
  color: #777777;
}

li.categories:hover > #categories-add {
  pointer-events: auto;
  cursor: pointer;
  color: #777777;
}

li.backgrounds:hover > #backgrounds-add {
  pointer-events: auto;
  cursor: pointer;
  color: #777777;
}

