$green: #008811;

hr.header-bar {
  margin: 0 2% 0 0;
  padding: 0;
  border: 0;
  background-color: black;
}

@media screen and (min-device-width: 600px){
  ul.nav {
    margin: 0 2% 0 2%;
    text-align: right;
    list-style-type: none;
    padding: 0;
  }

  div.navbar {
    height: 150px;
    font-size: 200%;
    ul.nav li {
      padding-left: 5px;
      display: inline;
      font-size: 80%;
    }
    a:link {
      color: #888888;
      text-decoration: none;
    }
    a:visited {
      color: #888888;
    }
    a:hover{
      color: #111111;
    }
    a:active{
      color: #000000;
    }
  }
}

@media screen and (max-width: 600px){
  ul.nav {
    margin-top: 20px;
    padding: 0;
    list-style-type: none;
    text-align: center;
  }

  div.navbar {
    font-size: 200%;
    ul.nav li {
      padding-left: 5px;
      display: list-item;
    }
    a:link {
      color: #888888;
      text-decoration: none;
    }
    a:visited{
      color: #888888;
    }
    a:hover{
      color: #111111;
    }
    a:activer{
      color: #000000;
    }
  }
}
