$green: #008811;

.submenu-comics {
  float: right;
  text-align: right;
  margin-top: 0;
  margin-right: 2%;
  display: none;
  font-size: 50%;
  list-style-type: none;
  li {
    list-style-type: none;
  }
}

@media only screen and (max-width: 800px){
  .submenu-comics {
     float: none;
   }
}
