$green: #008811;

#header-bar {
  margin-top: 4px;
  margin-left: 0;
  margin-right: 2%;
  background-color: black;
}

@media (min-aspect-ratio: 600/700){
  ul.nav {
    margin-left: 2%;
    margin-right: 2%;
    text-align: right;
    list-style-type: none;
  }

  div.navbar {
    height: 125px;
    font-size: 170%;
    ul.nav li {
      padding-left: 2px;
      display: inline;
    }
    a:link {
      color: #888888;
      text-decoration: none;
    }
    a:visited {
      color: #888888;
    }
    a:hover{
      color: #111111;
    }
    a:active{
      color: #000000;
    }
  }
}

@media (max-aspect-ratio: 600/700){
  ul.nav {
    list-style-type: none;
    text-align: center;
  }

  div.navbar {
    ul.nav li {
      width: 100%;
      display: list-item;
    }
    a:link {
      color: #888888;
      text-decoration: none;
    }
    a:visited{
      color: #888888;
    }
    a:hover{
      color: #111111;
    }
    a:activer{
      color: #000000;
    }
  }
}
