$green: #008811;

#header-bar {
  margin-top: 4px;
  margin-left: 2%;
  margin-right: 2%;
  background-color: black;
}

@media (orientation: landscape){
  #header-bar-2 {
    display: none;
  }

  ul.nav {
    margin-left: 2%;
    margin-right: 2%;
    text-align: right;
    list-style-type: none;
  }

  div.navbar {
    height: 125px;
    font-size: 170%;
    ul.nav li {
      padding-left: 2px;
      display: inline;
    }
    a:link {
      color: #888888;
      text-decoration: none;
    }
    a:visited {
      color: #888888;
    }
    a:hover{
      color: #111111;
    }
    a:active{
      color: #000000;
    }
  }
}

@media (orientation: portrait) and (min-resolution: 55dpcm){
  #header-bar-2 {
    position: absolute;
    top: 30%;
    left: 2%;
    right: 2%;
  }

  ul.nav{
    margin-top: 47%;
  }
}

@media (orientation: portrait) and (max-resolution: 55dpcm){
  ul.nav {
    position: absolute; 
    top: 0;
    left: 0;
    margin-left: 6px;
    margin-right: 6px;
    width: 100%;
    height: 50%;
  }

  .nav-element {
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
  }
}

@media (orientation: portrait){
  #header-bar-2 {
    background-color: black;
  }

  ul.nav {
    padding: 0;
    list-style-type: none;
    text-align: center;
  }

  div.navbar {
    font-size: 150%;
    ul.nav li {
      display: inline;
    }
    a:link {
      color: #888888;
      text-decoration: none;
    }
    a:visited{
      color: #888888;
    }
    a:hover{
      color: #111111;
    }
    a:activer{
      color: #000000;
    }
  }
}
