$green: #008811;

@media (min-aspect-ratio: 600/700){
  #logo {
    margin-right: 15px;
    display: block;
    float: left;
    color: $green;
    font-size: 200%;
    text-decoration: none;
  }

  #logo-img {
    float: left;
    height: 150px;
  }
}

@media (max-aspect-ratio: 600/700){
  #logo {
    position: absolute;
    top: 20px;
    left: 5%;
    right: 5%;
    width: 90%;
  }

  #logo-img {
    width: 100%;
  }
}
