$green: #008811;

/* general */
* {
  font-family: "Times New Roman";
  margin: 0;
  padding: 0;
}

body.tina {
  background-image: image_url("tina.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -700px -80px;
}

body.alien {
  background-image: image_url("alien.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -820px -80px;
  background-color: #45D1E2;
}


/* logo */
#logo {
  float: left;
  color: $green;
  font-size: 200%;
  text-decoration: none;
}

hr.header-bar {
  padding: 0;
  border: 0;
  height: 2px;
  background-color: black;
  margin-left: 20px;
}

ul.nav {
  text-align: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

div.container{
  padding-left: 20px;
  padding-right: 20px;
  height: 60px;
  font-size: 200%;
  ul.nav li {
    padding-left: 5px;
    display: inline;
    font-size: 80%;
  }
  a:link {
    color: #888888;
    text-decoration: none;
  }
  a:visited {
    color: #888888;
  }
  a:hover{
    color: #111111;
  }
  a:active{
    color: #000000;
  }
}

.submenu-comics {
  padding-top: 10px;
  font-size: 80%;
  display: none;
  margin-top: 50px;
  position: absolute;
  left: 48%;
  top: -13px;
}

li.comic-list-item:hover > .submenu-comics {
  display: table-caption; 
}

.submenu-logged-in {
  padding-top: 10px;
  font-size: 80%;
  display: none;
  margin-top: 50px;
  position: absolute;
  left: 86%;
  top: -13px;
}

li.log-in-list-item:hover > .submenu-logged-in {
  display: table-caption;
}

