$green: #008811;

/* general */
* {
  font-family: "Times New Roman";
  margin: 0;
  padding: 0;
}

body {
  min-width: 1000px;
}

body.tina {
  background-image: image_url("tina.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -700px -80px;
}

body.alien {
  background-image: image_url("alien.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -820px -80px;
  background-color: #45D1E2;
}


/* logo */
#logo {
  margin-right: 50px;
  display: block;
  float: left;
  color: $green;
  font-size: 200%;
  text-decoration: none;
  img {
    float: left;
    height: 150px;
  }
}

div.navbar {
  height: 170px;
}
 
hr.header-bar {
  padding: 0;
  border: 0;
  height: 2px;
  background-color: black;
}

ul.nav {
  margin-left: 15%;
  margin-right: 12%;
  text-align: right;
  list-style-type: none;
  margin-top: 1%;
  padding: 0;
}

div.container{
  height: 60px;
  font-size: 200%;
  ul.nav li {
    padding-left: 5px;
    display: inline;
    font-size: 80%;
  }
  a:link {
    color: #888888;
    text-decoration: none;
  }
  a:visited {
    color: #888888;
  }
  a:hover{
    color: #111111;
  }
  a:active{
    color: #000000;
  }
}

.submenu-comics {
  display: none;
  text-align: right;
  float: right;
  font-size: 80%;
  padding: 30px 0 30px 30px;
  top: 35px;
  right: 12%;
  position: absolute;
  li {
    list-style-type: none;
    display: none;
  }
}

li.comic-list-item:hover > .submenu-comics {
  display: block;
}

li.comic-list-item:hover > .submenu-comics > li {
  display: list-item;
}

.submenu-logged-in {
  padding-top: 10px;
  font-size: 0.8em;
  display: none;
  margin-top: 50px;
  position: absolute;
  top: -13px;
  right: 20px;
}

li.log-in-list-item:hover > .submenu-logged-in {
  display: table-caption;
}

