.headline {
  padding: 10px 10px 10px 10px;
}

.sub-headline {
  font-size: 100%;
  font-weight: bold;
  padding: 10px 10px 10px 0px;
}

.login-help {
  margin-left: 10%;
  margin-bottom: 50px;
  ol {
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
