$light-green: #DDFFDD;

/* imagemap substitution */

body.index {
  background-image: image-url("index.png");
  background-size: cover;
}

div.index-image-div {
  #offensive_link {
    position: absolute;
    height: 100%;
    width: 20%;
    padding-left: 1px;
    padding-top: 1px;
    top: 0;
    left: 0;
  }
}

#random_link {
  padding-left: 30.5%;
  padding-top: 12.4%;
  position: absolute;
  left: 33.4%;
  top: 19%;
}

#mayuyu_link {
  padding-left: 31%;
  padding-top: 12.2%;
  position: absolute;
  left: 67.9%;
  top: 18.6%;
}

#tina_link {
  padding-left: 30.1%;
  padding-top: 13.3%;
  position: absolute;
  left: 33.5%;
  top: 50.9%;
}

#alice_link {
  padding-left: 29.9%;
  padding-top: 17.8%;
  position: absolute;
  left: 4.7%;
  top: 78.6%;
}
