$light-green: #DDFFDD;

ul.index-link-list {
  display: inline;
  list-style-type: none;
  float: right;
}
 
li.index-link-item {
  margin: 25px 40% 25px 50px;
  opacity: 0.6;
  text-align: right;
  div {
    padding: 125px 150px 125px 150px;
    border: solid 1px;
  }
}

body.index {
  a.index-link {
    text-decoration: none;
    color: #000000;
    font-style: italic;
    font-size: 150%;
    outline: none;
    :hover {
      opacity: 1.0;
    }
  }
}

#offensive-link-item {
  background-image: image-url("offensive-background.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#random-link-item {
  background-image: image-url("random-background.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

#mayuyu-link-item {
  background-image: image-url("mayuyu-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#tina-link-item {
  background-image: image-url("tina-background.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#alice-link-item {
  background-image: image-url("alice-background.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#archive-link-item {
  background-image: image-url("archive-background.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#about-link {
  position: absolute;
  top: 0;
  right: 0; 
}

#index-logo {
  width: 300px;
  position: absolute;
  top: 20px;
  left: 20px;
}
