$light-green: #DDFFDD;

/* imagemap substitution */

#offensive_link {
  padding: 80px 170px 80px 170px;
  position: absolute;
  left: 18px;
  top: 164px;
}

#random_link {
  padding: 80px 200px 85px 200px;
  position: absolute;
  left: 430px;
  top: 164px;
}

#mayuyu_link {
  padding: 80px 210px 85px 200px;
  position: absolute;
  left: 885px;
  top: 160px;
}

#tina_link {
  padding: 85px 210px 85px 200px;
  position: absolute;
  left: 425px;
  top: 460px;  
}

#alice_link {
  padding: 110px 200px 110px 190px;
  position: absolute;
  left: 56px;
  top: 720px;
}
