.list {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}

.table {
  table{
    word-wrap: break-word;
    width: 80%;
  }
  tr td {
    min-width: 2%;
    max-width: 200px;
  }
}

#first-line {
  height: 50px;
  font-weight: bold;
}

