@import "bootstrap-sprockets";
@import "bootstrap";

$green: #008811;
$light-green: #DDFFDD;

* {
  font-family: "Times New Roman";
  font-size: 20px;
  padding: 0px;
  margin: 0px;
}

h1 {
  color: $green;
  font-size: 350%;
}

hr.headline_header {
  background-color: $green;
  border: 0;
  color: green;
  height: 2;
  margin-left: 10px;
}

div.wrapper {
  background-color: $light-green;
  margin-left: 7%;
  margin-right: 7%;
  min-height: 500px;
}

div.content {
  margin-top: 50px;
}
