$green: #008811;
$light-green: #DDFFDD;

* {
  font-family: Georgia;
  font-size: 20px;
  padding: 0px;
  margin: 0px;
}

h1 {
  color: $green;
  font-size: 350%;
}

hr.headline_header {
  background-color: $green;
  border: 0;
  color: green;
  height: 0;
  box-shadow: 0 0 5px 3px $green;
  margin-left: 10px;
 
}

div.wrapper {
  background-color: $light-green;
  margin-left: 7%;
  margin-right: 7%;
  min-height: 500px;
}

div.content {
  margin-top: 50px;
}
