<div id="comic-image" class="comic-section">
  <p id="title">Title</p>
  <%= image_tag("tina.jpg", size: "800x500", alt: "Image") %>
  <ul class="comic-navigation">
    <li><%= link_to("Back!", '#') %></li>
    <li><%= link_to("Random!", '#') %></li>
    <li><%= link_to("Next!", '#') %></li>
  </ul>
</div>
<div id="authors-comment" class="comic-section">
  <p id="headline" >Author's Comment</p>
  <p>This is a comment from the author.</p>
</div>
<div id="user-comment" class="comic-section">
  <p id="headline">Comments</p>
  <p>This is a user comment.</p>
  <p>This is a user comment.</p>
  <p>This is a user comment.</p>
  <p>This is a user comment.</p>
  <p>This is a user comment.</p>
  <p>This is a user comment.</p>
  <p>This is a user comment.</p>
  <p>This is a user comment.</p>
  <p>This is a user comment.</p>
  <p>This is a user comment.</p>
  <p>This is a user comment.</p>
  <p>This is a user comment.</p>
  <p>This is a user comment.</p>
  <p>This is a user comment.</p>
  <p>This is a user comment.</p>
  <p>This is a user comment.</p>
  <p>This is a user comment.</p>
  <p>This is a user comment.</p>
</div>
