<div id="comic-image" class="comic-section">
  <p id="title">Title</p>
  <%= image_tag("imgo.jpe", alt: "Image") %>
</div>
<div id="authors-comment" class="comic-section">
  <p id="headline" >Author's Comment</p>
  <p>This is a comment from the author.</p>
</div>
<div id="user-comment" class="comic-section">
  <p id="headline">Comments</p>
  <p>This is a user comment.</p>
  <p>This is a user comment.</p>
  <p>This is a user comment.</p>
  <p>This is a user comment.</p>
  <p>This is a user comment.</p>
  <p>This is a user comment.</p>
  <p>This is a user comment.</p>
  <p>This is a user comment.</p>
  <p>This is a user comment.</p>
  <p>This is a user comment.</p>
  <p>This is a user comment.</p>
  <p>This is a user comment.</p>
  <p>This is a user comment.</p>
  <p>This is a user comment.</p>
  <p>This is a user comment.</p>
  <p>This is a user comment.</p>
  <p>This is a user comment.</p>
  <p>This is a user comment.</p>
</div>
