<% if params[:category] == "alice" || params[:category] == "mayuyu" %>
  <div class="general-information">
    Dear reader, because this is a manga it is read from the right to the left.
  </div>
<% end %>
