<header>
  <div class="container">
    <%= link_to "Cooro's Corner", root_path, id: "logo" %>
    <nav>
      <ul class="navbar">
        <li><%= link_to "Comics", root_path %></li>
        <li><%= link_to "Archive", archive_path %></li>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </div>
</header>
